body{
    background: honeydew;
    color: black;
}

h1.center{
    text-align: center;
}
h1.left{
    text-align: left;
}

#footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    font-style: italic;
    line-height: 10%;
}